name: do-it-manual

on: workflow_dispatch

env:
  PUSHSAFER_KEY: ${{ secrets.PUSHSAFER_KEY }}

jobs:
  do-it-manual:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: bun install
      - name: do it
        run: bun do-it
