name: do-it-cron

on:
  schedule:
    - cron: "*/1 * * * *"

env:
  PUSHSAFER_KEY: ${{ secrets.PUSHSAFER_KEY }}

jobs:
  do-it-cron:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - run: bun install
      - name: do it
        run: bun do-it
