name: notify-test-manual

on: workflow_dispatch

env:
  PUSHSAFER_KEY: ${{ secrets.PUSHSAFER_KEY }}

jobs:
  notify-manual:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v2
      - run: bun install
      - name: notify test
        run: bun notify-test
